/* Hex codes: soft mint green #D1E8E2, deep teal #19747E, light sky blue #A9D6E5, light gray #E2E2E2 */

/* ---------------------------------- Body ---------------------------------- */

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e2e2e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------- Navigation bar ----------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #19747e;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #a9d6e5;
    color: #d1e8e2;
    border-radius: 10px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* --------------------------------- Headers -------------------------------- */

  h1 {
    color: black;
    font-size: large;
    text-align: center;
  }

  h2 {
    color: black;
    font-size: medium;
  }

  /* --------------------------------- Classes -------------------------------- */

  .home-feature {
    position:fixed; top:0; z-index:0; width:100%; padding-top:50%; background: url("resources/portrait.jpg") center center no-repeat;
    -webkit-background-size:250%;
       -moz-background-size:250%;
         -o-background-size:250%;
            background-size:250%;
    -webkit-box-shadow: 0 -50px 20px -20px #232323 inset;
       -moz-box-shadow: 0 -50px 20px -20px #232323 inset;
            box-shadow: 0 -50px 20px -20px #232323 inset;
  }