/* Hex codes: soft mint green #D1E8E2, deep teal #19747E, light sky blue #A9D6E5, light gray #E2E2E2 */

/* ---------------------------------- Body ---------------------------------- */

body {
    background-color: #19747e;
    color: #e2e2e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------- Navigation bar ----------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #d1e8e2;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #53eec5;
    color: #ffffff00;
    border-radius: 10px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }